@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Kumbh Sans", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
  display: none;
}

.navigation {
  width: 370px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px auto;
  border-bottom: 2px solid hsl(220, 14%, 75%);
  padding-bottom: 20px;
}

.nav-section {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  justify-content: space-between;
  width: 180px;
  margin-left: 10px;
  position: relative;
}

.categories {
  display: none;
  position: absolute;
  top: -40px;
  left: -14px;
  width: 180px;
  height: 110vh;
  background: hsl(0, 0%, 100%);
  z-index: 4;
}

.cat {
  position: absolute;
  top: 42px;
  left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  gap: 40px;
  width: 240px;
  list-style: none;
}

.cart-section {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90px;
  margin-right: 10px;
}

.avatar-photo {
  width: 50px;
}

.product-section {
  margin-top: -22px;
}

.photo-product {
  width: 375px;
  height: 280px;
  object-fit: cover;
  position: relative;
}

.previous {
  margin-left: -5px;
}

.previous-image,
.next-image {
  position: absolute;
  z-index: 2;
  width: 40px;
  height: 40px;
  background: hsl(0, 0%, 100%);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.previous-image {
  left: 10px;
  top: 200px;
}

.next-image {
  right: 10px;
  top: 200px;
}

.product-details {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.company-name {
  color: hsl(26, 100%, 55%);
  text-transform: uppercase;
  font-size: 12px;
  letter-spacing: 2px;
}

.product-name {
  font-size: 28px;
  line-height: 30px;
}

.product-description {
  line-height: 24px;
  width: 360px;
  color: hsl(219, 9%, 45%);
}

.price-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0 10px 0;
}

.main-price {
  font-size: 28px;
}

.promotion {
  background: hsl(25, 100%, 94%);
  color: hsl(26, 100%, 55%);
  padding: 4px 8px;
  border-radius: 10px;
  font-weight: 700;
  margin-left: -100px;
}

.original-price {
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
  font-weight: 700;
}

.add-products {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  background: hsl(223, 64%, 98%);
  position: relative;
}

.plus {
  position: absolute;
  z-index: 2;
  right: 20px;
}

.minus {
  position: absolute;
  z-index: 2;
  left: 20px;
}

.add-button {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 10px;
  background: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
}

.add-text {
  font-size: 16px;
}

.cart-add {
  filter: brightness(0) invert(1);
}

.cart {
  position: relative;
}

.cart-products {
  position: absolute;
  top: -8px;
  right: -10px;
  background: hsl(26, 100%, 55%);
  color: hsl(0, 0%, 100%);
  padding: 0px 7px;
  border-radius: 10px;
  font-size: 12px;
  display: none;
}

.cart-display {
  width: 360px;
  height: 240px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  border-radius: 10px;
  box-shadow: 0 2px 20px 2px hsl(219, 9%, 45%);
  position: absolute;
  top: 85px;
  right: 8px;
  z-index: 5;
  background: hsl(0, 0%, 100%);
}

.mini-photo {
  width: 60px;
  margin: 20px 0 0 20px;
  border-radius: 10px;
}

.cart-name {
  padding: 20px;
}

.empty {
  font-weight: 700;
  color: hsl(219, 9%, 45%);
  border-top: 2px solid hsl(220, 14%, 75%);
  display: none;
  align-items: center;
  justify-content: center;
  height: 160px;
}

.order-summary {
  border-top: 2px solid hsl(220, 14%, 75%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.price-summary {
  margin: 20px 10px 0 0;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.cart-product-name,
.price-count {
  color: hsl(219, 9%, 45%);
}

.total {
  font-weight: 700;
}

.total-price {
  display: flex;
  align-items: center;
  gap: 10px;
}

.delete-icon {
  margin: 20px 20px 0 0;
}

.checkout-button {
  display: block;
  width: 320px;
  height: 50px;
  margin: 10px auto;
  font-size: 18px;
  font-weight: 700;
  color: hsl(0, 0%, 100%);
  background: hsl(26, 100%, 55%);
  border: none;
  border-radius: 10px;
}

@media screen and (min-width: 1044px) {
  .navigation {
    width: 1200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px auto;
    border-bottom: 2px solid hsl(220, 14%, 75%);
    padding-bottom: 30px;
  }
  .ham-menu {
    display: none;
  }
  .nav-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 700px;
  }

  .cat {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 460px;
    list-style: none;
  }

  .cart-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
  }

  .avatar-photo {
    width: 50px;
  }
}
